.company-container {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url('./background.jpg');
  background-attachment: fixed;
}

.company-jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.company-jobs-container .card{
  width: 40rem;
  margin: 20px;
}