.login-card {
  /* position: absolute;
  top: 20%;
  left: 50%; */
  /* transform: translate(-50%); */
  margin: 10rem auto;
  background-color: #4285F4;
  width: 20%;
  min-width: 200px;
}

.login-buttons {
  position: absolute;
  top: -38px;
}

.login-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
}